.App {
  text-align: center;
}
.gray-header{
  background: gray;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.counter
{
  margin:30px;
}
.fancy-blue
{
  border:1px solid blue;
  min-height: 100px;
  margin:50px;
}
.fancy-green
{
  border:1px solid green;
  min-height: 100px;
  margin:50px;
}
.tab-header
{
  display:inline;
  width:100px;
  height:50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border:1px solid gray;
  padding-left:50px;
  padding-right:50px;
}
.tab-body
{
  border:1px solid gray;
  min-height: 200px;
}